<head>
    <title>Zay Shop eCommerce HTML CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="../../../../assets/img/apple-icon.jpg">
    <link rel="shortcut icon" type="image/x-icon" href="../../../../assets/img/favicon.ico">

    <link rel="stylesheet" href="../../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../assets/css/templatemo.css">
    <link rel="stylesheet" href="../../../../assets/css/custom.css">

   <link rel="stylesheet" href="../../../../assets/css/fontawesome.min.css">

    

</head>

 
 
 <body>
<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>



<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="col">    
                        <div>
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>Zay</b> eCommerce</h1>
                                <h3 class="h2">Best Sellers & New Arrivals</h3>
                                <p>
                                    Explore our best-selling items and new arrivals, carefully curated just for you. Don’t miss out on these must-have products!.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <img class="img-fluid" src="assets/img/banner_img_01.jpg" alt="">
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="col">    
                        <div>
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>Zay</b> eCommerce</h1>
                                <h3 class="h2">"Exclusive Deals & Offers"</h3>
                                <p>
                                    Grab exclusive deals and special offers on our premium collection. Limited-time discounts on our top-rated products!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <img class="img-fluid" src="assets/img/banner_img_02.jpg" alt="">
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
        <div class="carousel-item">
             <div class="container">
                <div class="row p-5">
                    <div class="col">    
                        <div>
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>Zay</b> eCommerce</h1>
                                <h3 class="h2">Hot Picks of the Month</h3>
                                <p>
                                    Explore our best-selling items and new arrivals, carefully curated just for you. Don’t miss out on these must-have products!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <img class="img-fluid" src="assets/img/banner_img_03.jpg" alt="">
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Banner Hero -->

 <!-- Start Script -->
 <script src="assets/js/jquery-1.11.0.min.js"></script>
 <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
 <script src="assets/js/bootstrap.bundle.min.js"></script>
 <script src="assets/js/templatemo.js"></script>
 <script src="assets/js/custom.js"></script>
 <!-- End Script -->
 </body>
 